<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="blocks/links :: div"></div>
<body style="background-color: #284B52">
<div th:insert="blocks/header :: header"></div>
<div th:insert="blocks/adminSidebare :: adminSidebare"></div>
<main>
<div style="background-color: #238182; height: 200px; width: 500px; border-radius: 20px; margin-left: 300px; margin-top: -570px">
    <h2 style="text-align: center; color: #284B52">Бро, Ты крутой чел со всеми возможностями, гордись этим</h2>
    <h4 STYLE="text-align: center; color: #284B52">Не, реально крутой)</h4>
</div>
    <div style="background-color: aqua; height: 200px; width: 500px; border-radius: 20px; margin-left: 750px; margin-top: 50px">
        <h2 style="text-align: center; color: #238182">Бро, Ты крутой чел со всеми возможностями, гордись этим</h2>
        <h4 STYLE="text-align: center; color: #238182">Не, реально крутой)</h4>
    </div>
</main>
</body>
<div th:insert="blocks/footer :: footer" style="margin-top: 120px"></div>
</html>