<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="/img/wh.png" type="image/x-icon">
</head>
<div th:insert="blocks/links :: div"></div>
<body style="background-color: #284B52">
<div th:insert="blocks/header :: header"></div>
<div th:insert="blocks/adminSidebare :: adminSidebare"></div>
<main>
    <div style="background-color: aqua; height: 200px; width: 800px; border-radius: 20px; margin-left: 450px; margin-top: -500px">
    <h2 style="text-align: center; color: #284B52">Вы авторизовались как администратор</h2>
    <h4 STYLE="text-align: center; color: #284B52">Вам доступны возможности в виде регистрации новых пользователей, клиентов, поставщиков, ассортимента. </h4>
        <h4 STYLE="text-align: center; color: #284B52">А так же списание товара со склада и аналитика процессов</h4>
</div>
</main>
</body>
<!--<div th:insert="blocks/footer :: footer" style="margin-top: 120px"></div>-->
</html>