<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="/img/wh.png" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


</head>
<div th:insert="blocks/links::div"></div>
<body style="background-color: #284B52">
<div  th:if="${role.equals('[ADMIN]')}" th:insert="blocks/header :: header"></div>
<div  th:if="${role.equals('[ADMIN]')}" th:insert="blocks/adminSidebare :: adminSidebare"></div>
<div th:if="${role.equals('[USER]')}" th:insert="blocks/header :: header"></div>
<div th:if="${role.equals('[USER]')}" th:insert="blocks/userSidebare :: userSidebare"></div>
<main>
  <div class="table-responsive " style="width: 1000px; margin-top: -600px; margin-left: 300px">
      <form th:action="${role.equals('[ADMIN]') ? '/admin/filter/assortment':'/user/filter/assortment'}"  method="get">
      <div th:name="search-sort" style="width: 950px; display: flex; align-items: center;">
          <div th:name="sort" style="width: 475px; display: flex; align-items: center;">
              <button class="btn btn-primary rounded-pill px-3" type="submit" style="color: #f2f0f8; background-color: #31bfc6; border-color: #31bfc6">Отсортировать</button>
              <select name="sortParam" class="form-select" style="margin-left: 10px; width: 150px">
                  <option value="" selected disabled>По признаку</option>
                  <option value="idAssort"> По ID</option>
                  <option value="manufacturer"> По производителю</option>
                  <option value="productName">По названию</option>
                  <option value="productType">По типу товара</option>
              </select>
              <select name="howSort"
                      class="form-select">
                  <option value="asc" >По возрастанию</option>
                  <option value="desc">По убыванию</option>
              </select>
          </div>


          <div th:name="search" style="width: 475px; display: flex; align-items: end;">

                  <input class="form-control" type="search" name="searchQuery" placeholder="Search" aria-label="Search" style="background-color: #31bfc6; color: #f2f0f8">

              <select name="searchParam" class="form-select" style="margin-left: 10px; width: 160px">
                  <option value="idAssort"> По ID</option>
                  <option value="manufacturer"> По производителю</option>
                  <option value="productName">По названию</option>
                  <option value="productType">По типу товара</option>
              </select>
          </div>
      </div>
      </form>

      <table class="table table-striped table-sm" style="margin-top: 20px">
      <thead>
      <tr>
        <th style="color: #2BB789" scope="col">ID</th>
        <th  style="color: #2BB789" scope="col">Изготовитель</th>
        <th  style="color: #2BB789" scope="col">Название</th>
        <th  style="color: #2BB789" scope="col">Тип продукта</th>
        <th  style="color: #2BB789" scope="col">Форма выпуска</th>
        <th></th>
      </tr>
                  </thead>
                  <tbody>
                  <tr th:if="${assortments}" th:each="e:${assortments}">
                      <td  style="color: #2BB789" th:text="${e.idAssort}"/>
                      <td  style="color: #2BB789" th:text="${e.manufacturer}"/>
                      <td  style="color: #2BB789" th:text="${e.productName}"/>
                      <td  style="color: #2BB789" th:text="${e.productType}"/>
                      <td  style="color: #2BB789" th:text="${e.getFormIn().getName(e.getFormIn())}"/>
                      <td><button type="button"  th:if="${role.equals('[ADMIN]')}" th:onclick="|findAssortment(${e.idAssort})|"  style="font-weight: bold; background-color: #238182; border-color: #238182;" data-toggle="modal" data-target="#modalDetails">Подробнее</button></td>
                  </tr>
                  </tbody>
    </table>
    <a href="/admin/newAssortment" th:if="${role.equals('[ADMIN]')}" type="button" class="btn btn-outline-primary me-2" style="background-color: #238182; border-color: #238182; margin-left: 900px">  <img src="/img/+.png" style="height: 50px; width: 50px"></a>

      <div class="modal fade" id="modalDetails" tabindex="-1" role="dialog" aria-labelledby="modalDetailsLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="modalDetailsLabel">Подробнее</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body" id="modalAssort">

                  </div>
                  <div class="modal-footer">
                      <button th:if="${role.equals('[ADMIN]')}" th:onclick="|findAssortChange()|" type="button" class="btn btn-secondary" data-dismiss="modal" data-toggle="modal" data-target="#modalRedAss">Изменить</button>
                  </div>
              </div>
          </div>
      </div>
      <div class="modal fade" id="modalRedAss" tabindex="-1" role="dialog" aria-labelledby="modalRedAssLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="modalAddAssortmentLabel">Редактировать ассортимент</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <form class="needs-validation" id="formAssort" novalidate="" th:object="${changeAssort}" >
                          <div class="row g-3">
                              <div class="col-sm-12">
                                  <label class="form-label" style="color: aqua">Название</label>
                                  <input th:field="${changeAssort.productName}" type="text" class="form-control" id="name" placeholder="" value="" required="">
                                  <div class="invalid-feedback">
                                      Некоректное название
                                  </div>
                              </div>

                              <div class="col-sm-12">
                                  <label class="form-label" style="color: aqua">Изготовитель</label>
                                  <input type="text" th:field="${changeAssort.manufacturer}" class="form-control" id="manufacturer" placeholder="" value="" required="" >
                                  <div class="invalid-feedback">
                                      Некоректный производитель
                                  </div>
                              </div>

                              <div class="col-sm-12">
                                  <label class="form-label" style="color: aqua">Тип продукта</label>
                                  <input type="text" th:field="${changeAssort.productType}" class="form-control" id="prod_type" placeholder="" value="" required="" >
                                  <div class="invalid-feedback">
                                      Некоректный тип
                                  </div>
                              </div>

                              <div class="col-sm-12">
                                  <label class="form-label" style="color: aqua">Форма выпуска</label>
                                  <input type="text" readonly class="form-control" id="form" placeholder="" value="" required="" >
                                  <div class="invalid-feedback">
                                      Некоректная форма
                                  </div>
                              </div>

                          </div>
                          <div class="modal-footer">
                              <button type="submit" class="btn btn-secondary" >Сохранить</button>
                          </div>
                      </form>
                  </div>

              </div>
          </div>
      </div>
  </div>
</main>
</body>
<script>
    let idAssortFind;
    formIn = "";
    let formInValue;
    function findAssortment(idAssort){
        const modalAddAssort = document.getElementById("modalAssort");
        idAssortFind = idAssort;
        fetch("/find/findAssort/" + idAssort,{
            method: 'GET'
        }).then(res=>res.json())
            .then(data=>{
                formInValue = data.formIn;
                if (data.formIn === 'PACK') formIn = 'Пачка';
                if (data.formIn === 'BOX') formIn = 'Коробка';
                if (data.formIn === 'BOTTLE') formIn = 'Бутылка';
                if (data.formIn === 'PACK') formIn = 'Рулон';
                modalAddAssort.innerHTML=
                    `
                      <p>Изготовитель: <span id="modalDetailsMan">${data.manufacturer}</span></p>
                      <p>Название: <span id="modalDetailsName">${data.productName}</span></p>
                      <p>Тип продукта: <span id="modalDetailsType">${data.productType}</span></p>
                      <p>Форма выпуска: <span id="modalDetailsForm">${formIn}</span></p>

                    `;

            });
    }
    function findAssortChange(){
        fetch("/find/findAssort/" + idAssortFind,{
            method: 'GET'
        }).then(res=>res.json())
            .then(data=>{

                const name = document.getElementById("name");
                const manufacturer = document.getElementById("manufacturer");
                const prod_type = document.getElementById("prod_type")
                const form = document.getElementById("form");
                name.value = data.productName;
                manufacturer.value = data.manufacturer;
                prod_type.value = data.productType;
                form.value = formIn;


            });
    }
    document.getElementById("formAssort").addEventListener("submit", function (event){
        const input = document.getElementById("form");
        input.value = formInValue;
       fetch('/admin/changeAssortment/'+idAssortFind,{
           method: 'POST',
           body: new FormData(this)
       }).then(response => response.json())
           .then(answer=>{
               if (answer.status === "success") {
                   alert(answer.message);
                   window.location.href = '/admin/assortment';
               } else if (answer.status === "bad") {
                   for (const x in answer) {
                       if (x!=="bad"){
                           alert(answer[x]);
                       }}
               }
               else {
                   console.error('Произошла ошибка:', answer.message);
               }
           });
    });
</script>
</html>