<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="/img/wh.png" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


</head>
<div th:insert="blocks/links::div"></div>
<body style="background-color: #284B52">
<div  th:if="${role.equals('[ADMIN]')}" th:insert="blocks/header :: header"></div>
<div  th:if="${role.equals('[ADMIN]')}" th:insert="blocks/adminSidebare :: adminSidebare"></div>
<div th:if="${role.equals('[USER]')}" th:insert="blocks/header :: header"></div>
<div th:if="${role.equals('[USER]')}" th:insert="blocks/userSidebare :: userSidebare"></div>
<!--<main>-->
<!--    <div class="table-responsive " style="width: 1000px; margin-top: -600px; margin-left: 300px">-->
<!--        <div th:name="search-sort" style="width: 950px; display: flex; align-items: center;">-->
<!--            <div th:name="sort" style="width: 475px; display: flex; align-items: center;">-->
<!--                <button class="btn btn-primary rounded-pill px-3" type="button" style="color: #f2f0f8; background-color: #31bfc6; border-color: #31bfc6">Отсортировать</button>-->
<!--                <select th:field="search.sort" class="form-select" style="margin-left: 10px; width: 150px">-->
<!--                    <option value="" selected disabled>По признаку</option>-->
<!--                    <option value="productId"> По ID</option>-->
<!--                    <option value="productName"> По Названию</option>-->
<!--                    <option value="productStartdata">По Дате изготовления</option>-->
<!--                    <option value="productPrice">По Цене</option>-->
<!--                    <option value="productQuantity">По Количеству</option>-->
<!--                    <option value="productEnddata">По Сроку годности</option>-->
<!--                </select>-->
<!--            </div>-->


<!--            <div th:name="search" style="width: 475px; display: flex; align-items: end;">-->
<!--                <form role="search">-->
<!--                    <input class="form-control" type="search" placeholder="Search" aria-label="Search" style="background-color: #31bfc6; color: #f2f0f8">-->
<!--                </form>-->
<!--                <select th:field="search.search" class="form-select" style="margin-left: 10px; width: 160px">-->
<!--                    <option value="" selected disabled>По признаку</option>-->
<!--                    <option value="productId"> По ID</option>-->
<!--                    <option value="productName"> По Названию</option>-->
<!--                    <option value="productStartdata">По Дате изготовления</option>-->
<!--                    <option value="productPrice">По Цене</option>-->
<!--                    <option value="productQuantity">По Количеству</option>-->
<!--                    <option value="productEnddata">По Сроку годности</option>-->
<!--                </select>-->
<!--            </div>-->
<!--        </div>-->

      <table class="table table-striped table-sm" style="margin-top: 20px">
      <thead>
      <tr>
        <th style="color: #2BB789" scope="col">ID</th>
        <th  style="color: #2BB789" scope="col">Ассортимент</th>
        <th  style="color: #2BB789" scope="col">Дата изготовления</th>
        <th  style="color: #2BB789" scope="col">Срок годности</th>
        <th  style="color: #2BB789" scope="col">Стоимость</th>
        <th  style="color: #2BB789" scope="col">Колличесто</th>
<th></th>

      </tr>
                  </thead>
                  <tbody>
                  <tr th:if="${products}" th:each="e:${products}"  th:class="${e.productEnddata > #dates.createNow()} ? 'table-success' : 'table-danger'" >
                      <td th:text="${e.productId}"></td>
                      <td th:text="${e.assortment.productName}"></td>
                      <td th:text="${e.productStartdata}"></td>
                      <td th:text="${e.productEnddata}"></td>
                      <td th:text="${e.productPrice}"></td>
                      <td th:text="${e.productQuantity}"></td>
                      <td><button th:if="${role.equals('[ADMIN]')}" th:onclick="|writeOff(${e.productId})|" type="button" style="font-weight: bold; background-color: #238182; border-color: #238182;" data-toggle="modal" data-target="#modalSpis">Списать</button></td>
                  </tr>
                  </tbody>
    </table>

      <div class="modal fade" id="modalSpis"  tabindex="-1" role="dialog"  aria-labelledby="modalSpisLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="modalSpisLabel">Списать</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <form th:if="${newSpis!=null}" action="/admin/productWriteOff" method="get" th:object="${newSpis}">
                  <div class="modal-body">
                      <input type="hidden" id="idProductWriteOff" th:field="${newSpis.idProduct}">
                      <label class="form-label" style="color: #238182" >Причина списания</label>
                      <input type="text" th:field="${newSpis.reasonWriteOff}" class="form-control" id="spisReason" placeholder="" value="" required="">

                  </div>
                  <div class="modal-footer">
                      <button type="submit" onclick="alert('Товар списан!')" class="btn btn-secondary">Списать</button>
                  </div>
                  </form>
              </div>
          </div>
      </div>
      <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="createRequestModalLabel" aria-hidden="false" >
          <div class="modal-dialog modal-xl" role="document">
              <div class="modal-content">
                  <div class="modal-body" id="content" style="margin-left: 100px">
                      <iframe id="pdf"></iframe>
                      <button class="btn" type="button" onclick="closeModel()" id="selectButton" style="display: block; background-color: #238182; color: #1a1a1c; margin: 0 auto; margin-top: 20px;" >Сохранить</button>

                  </div>
              </div>
          </div>
      </div>
  </div>
</main>
<script>
    function writeOff(id){
        const idProd = document.getElementById("idProductWriteOff");
        idProd.value = id;
    }
</script>
</body>
</html>