<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="blocks/links::div"></div>
<head>
    <link rel="shortcut icon" href="/img/wh.png" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


</head>
<body style="background-color: #284B52">
<div  th:if="${role.equals('[ADMIN]')}" th:insert="blocks/header :: header"></div>
<div  th:if="${role.equals('[ADMIN]')}" th:insert="blocks/adminSidebare :: adminSidebare"></div>
<div th:if="${role.equals('[USER]')}" th:insert="blocks/header :: header"></div>
<div th:if="${role.equals('[USER]')}" th:insert="blocks/userSidebare :: userSidebare"></div>
<main>
  <div class="table-responsive " style="width: 1000px; margin-top: -600px; margin-left: 300px">
      <div th:name="search-sort" style="width: 950px; display: flex; align-items: center;">
          <div th:name="sort" style="width: 475px; display: flex; align-items: center;">
              <button class="btn btn-primary rounded-pill px-3" type="button" style="color: #f2f0f8; background-color: #31bfc6; border-color: #31bfc6">Отсортировать</button>
              <select class="form-select" style="margin-left: 10px; width: 150px">
                  <option value="" selected disabled>По признаку</option>
                  <option value="признак1">Признак 1</option>
                  <option value="признак2">Признак 2</option>
                  <option value="признак3">Признак 3</option>
              </select>
          </div>


          <div th:name="search" style="width: 475px; display: flex; align-items: end;">
              <form role="search">
                  <input class="form-control" type="search" placeholder="Search" aria-label="Search" style="background-color: #31bfc6; color: #f2f0f8">
              </form>
              <select class="form-select" style="margin-left: 10px; width: 160px">
                  <option value="" selected disabled>По параметру</option>
                  <option value="признак1">Параметр 1</option>
                  <option value="признак2">Параметр 2</option>
                  <option value="признак3">Параметр 3</option>
              </select>
          </div>
      </div>

      <table class="table table-striped table-sm" style="margin-top: 20px">
      <thead>
      <tr>
        <th style="color: #2BB789" scope="col">ID</th>
        <th  style="color: #2BB789" scope="col">ФИО</th>
        <th  style="color: #2BB789" scope="col">Адрес</th>
        <th  style="color: #2BB789" scope="col">Имейл</th>
        <th  style="color: #2BB789" scope="col">Телефон</th>
        <th></th>
      </tr>
                  </thead>
                  <tbody>
                  <tr th:if="${providers}" th:each="e:${providers}">
                      <td  style="color: #2BB789" th:text="${e.providerId}"/>
                      <td  style="color: #2BB789" th:text="${e.providerName}"/>
                      <td  style="color: #2BB789" th:text="${e.providerAddress}"/>
                      <td  style="color: #2BB789" th:text="${e.providerEmail}"/>
                      <td  style="color: #2BB789" th:text="${e.providerTel}"/>
                      <td><input type="button" value="Подробнее" style="background-color: #238182; border-color: #238182;font-weight: bold;" data-toggle="modal" data-target="#modalDetails"></td>
                  </tr>
                  </tbody>
    </table>
    <a href="/admin/newProvider" type="button" class="btn btn-outline-primary me-2" style="background-color: #238182; border-color: #238182; margin-left: 900px">  <img src="/img/+.png" style="height: 50px; width: 50px"></a>
      <div class="modal fade" id="modalDetails" tabindex="-1" role="dialog" aria-labelledby="modalDetailsLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="modalDetailsLabel">Подробнее</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <p>Фамилия: <span id="modalDetailsSurname"></span></p>
                      <p>Имя: <span id="modalDetailsName"></span></p>
                      <p>Имейл: <span id="modalDetailsEmail"></span></p>
                      <p>Телефон: <span id="modalDetailsTel"></span></p>

                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal" data-toggle="modal" data-target="#modalRedProvid">Изменить</button>
                      <button th:if="${role.equals('[ADMIN]')}"  type="button" class="btn btn-secondary" data-dismiss="modal">Удалить</button>
                  </div>
              </div>
          </div>
      </div>
      <div class="modal fade" id="modalRedProvid" tabindex="-1" role="dialog" aria-labelledby="modalAddClientLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="modalAddClientLabel">Изменить поставщика</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <form class="needs-validation" novalidate="" >
                          <div class="row g-3">
                              <div class="col-sm-12">
                                  <label class="form-label" style="color: aqua">ФИО</label>
                                  <input type="text" class="form-control" id="fio" placeholder="" value="" required=""
                                         th:field="${provider.providerName}">
                                  <div class="invalid-feedback">
                                      Некоректное ФИО
                                  </div>
                              </div>

                              <div class="col-12">
                                  <label for="email" class="form-label" style="color: aqua">Email <span class="text-body-secondary"></span></label>
                                  <input type="email" class="form-control" id="email" placeholder="you@example.com"
                                         th:field="${provider.providerEmail}">
                                  <div class="invalid-feedback">
                                      Проверьте правильность имейла
                                  </div>
                              </div>

                              <div class="col-12">
                                  <label for="address" class="form-label" style="color: aqua">Адресс</label>
                                  <input type="text" class="form-control" id="address" placeholder="г. Минск,ул. ..." required=""
                                         th:field="${provider.providerAddress}">
                                  <div class="invalid-feedback">
                                      Проверьте адресс
                                  </div>
                              </div>

                              <div class="col-12">
                                  <label class="form-label" style="color: aqua">Телефон</label>
                                  <input type="text" class="form-control" id="phone" placeholder="+37544..." required=""
                                         th:field="${provider.providerTel}">
                                  <div class="invalid-feedback">
                                      Проверьте телефон
                                  </div>
                              </div>

                          </div>
                      </form>
                  </div>
                  <div class="modal-footer">
                      <button type="submit" class="btn btn-secondary" data-dismiss="modal">Сохранить</button>
                  </div>
              </div>
          </div>
      </div>

  </div>
</main>
<!--<div th:insert="blocks/footer :: footer" style="margin-top: 120px"></div>-->
</body>
</html>