<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="blocks/links::div"></div>
<head>
    <link rel="shortcut icon" href="/img/wh.png" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


</head>
<body style="background-color: #284B52">
<div  th:if="${role.equals('[ADMIN]')}" th:insert="blocks/header :: header"></div>
<div  th:if="${role.equals('[ADMIN]')}" th:insert="blocks/adminSidebare :: adminSidebare"></div>
<div th:if="${role.equals('[USER]')}" th:insert="blocks/header :: header"></div>
<div th:if="${role.equals('[USER]')}" th:insert="blocks/userSidebare :: userSidebare"></div>
<input type="hidden" id="role" th:value="${role}">
<main>
  <div class="table-responsive " style="width: 1000px; margin-top: -600px; margin-left: 300px">
      <div class="table-responsive " style="width: 1000px; margin-top: -600px; margin-left: 300px">-->
<!--               <div th:name="search-sort" style="width: 950px; display: flex; align-items: center;">&ndash;&gt;-->
<!--                    <div th:name="sort" style="width: 475px; display: flex; align-items: center;">&ndash;&gt;-->
<!--                        <button class="btn btn-primary rounded-pill px-3" type="button" style="color: #f2f0f8; background-color: #31bfc6; border-color: #31bfc6">Отсортировать</button>-->
<!--                        <select th:field="search.sort" class="form-select" style="margin-left: 10px; width: 150px">-->
<!--                            <option value="" selected disabled>По признаку</option>-->
<!--                            <option value="providerId"> По ID</option>-->
<!--                            <option value="providerName"> По имени</option>-->
<!--                            <option value="providerAddress">По адресу</option>-->
<!--                            <option value="providerTel">По номеру телефона</option>-->
<!--                            <option value="providerEmail">По электронной почте</option>-->
<!--                        </select>-->
<!--                    </div>-->


<!--                    <div th:name="search" style="width: 475px; display: flex; align-items: end;">-->
<!--                        <form role="search">-->
<!--                            <input class="form-control" type="search" placeholder="Search" aria-label="Search" style="background-color: #31bfc6; color: #f2f0f8">-->
<!--                        </form>-->
<!--                        <select th:field="search.search" class="form-select" style="margin-left: 10px; width: 160px">-->
<!--                            <option value="" selected disabled>По признаку</option>-->
<!--                            <option value="providerId"> По ID</option>-->
<!--                            <option value="providerName"> По имени</option>-->
<!--                            <option value="providerAddress">По адресу</option>-->
<!--                            <option value="providerTel">По номеру телефона</option>-->
<!--                            <option value="providerEmail">По электронной почте</option>-->
<!--                        </select>-->
<!--                 </div>-->
<!--                </div>-->
                <table class="table table-striped table-sm" style="margin-top: 20px">
                <thead>
                <tr>
                  <th style="color: #2BB789" scope="col">ID</th>
                  <th  style="color: #2BB789" scope="col">ФИО</th>
                  <th  style="color: #2BB789" scope="col">Адрес</th>
                  <th  style="color: #2BB789" scope="col">Имейл</th>
                  <th  style="color: #2BB789" scope="col">Телефон</th>
                  <th></th>
                </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${providers}" th:each="e:${providers}">
                                <td  style="color: #2BB789" th:text="${e.providerId}"/>
                                <td  style="color: #2BB789" th:text="${e.providerName}"/>
                                <td  style="color: #2BB789" th:text="${e.providerAddress}"/>
                                <td  style="color: #2BB789" th:text="${e.providerEmail}"/>
                                <td  style="color: #2BB789" th:text="${e.providerTel}"/>
                                <td><input type="button" th:onclick="|findProvider(${e.providerId})|" value="Подробнее" style="background-color: #238182; border-color: #238182;font-weight: bold;" data-toggle="modal" data-target="#modalDetails"></td>
                            </tr>
                            </tbody>
              </table>
              <a th:if="${role.equals('[ADMIN]')}"  href="/admin/newProvider" type="button" class="btn btn-outline-primary me-2" style="background-color: #238182; border-color: #238182; margin-left: 900px">  <img src="/img/+.png" style="height: 50px; width: 50px"></a>

                <div class="modal fade" id="modalDetails" tabindex="-1" role="dialog" aria-labelledby="modalDetailsLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalDetailsLabel">Подробнее</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" id="modalProvider">

                            </div>
                            <div class="modal-footer">
                                <button type="button"  th:if="${role.equals('[ADMIN]')}" th:onclick="|findChangeProvider()|" class="btn btn-secondary" data-dismiss="modal" data-toggle="modal" data-target="#modalRedProvid">Изменить</button>
          <!--                      <button th:if="${role.equals('[ADMIN]')}" th:onclick="|deleteProvider()|" type="button" class="btn btn-secondary" data-dismiss="modal">Удалить</button>-->
                  </div>
              </div>
          </div>
      </div>
      <div class="modal fade" id="modalRedProvid" tabindex="-1" role="dialog" aria-labelledby="modalAddClientLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="modalAddClientLabel">Изменить поставщика</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <form class="needs-validation" novalidate="" id="changeProvider" th:object="${newProvider}">
                          <div class="row g-3">
                              <div class="col-sm-12">
                                  <label class="form-label" style="color: aqua">ФИО</label>
                                  <input th:field="${newProvider.providerName}" type="text" class="form-control" id="fio" placeholder="" value="" required=""
                                         >
                                  <div class="invalid-feedback">
                                      Некоректное ФИО
                                  </div>
                              </div>

                              <div class="col-12">
                                  <label for="email" class="form-label" style="color: aqua">Email <span class="text-body-secondary"></span></label>
                                  <input type="email" class="form-control" id="email" placeholder="you@example.com"
                                         th:field="${newProvider.providerEmail}" >
                                  <div class="invalid-feedback">
                                      Проверьте правильность имейла
                                  </div>
                              </div>

                              <div class="col-12">
                                  <label for="address" class="form-label" style="color: aqua">Адресс</label>
                                  <input type="text" class="form-control" id="address" placeholder="г. Минск,ул. ..." required=""
                                         th:field="${newProvider.providerAddress}"  >
                                  <div class="invalid-feedback">
                                      Проверьте адресс
                                  </div>
                              </div>

                              <div class="col-12">
                                  <label class="form-label" style="color: aqua">Телефон</label>
                                  <input type="text" class="form-control" id="phone" placeholder="+37544..." required=""
                                         th:field="${newProvider.providerTel}" >
                                  <div class="invalid-feedback">
                                      Проверьте телефон
                                  </div>
                              </div>

                          </div>
                          <div class="modal-footer">
                              <button type="submit" class="btn btn-secondary">Сохранить</button>
                          </div>
                      </form>
                  </div>

              </div>
          </div>
      </div>
      </div>
  </div>
</main>
</body>
<script>
    let idProviderFind;
    function findProvider(idProvider){
        idProviderFind =idProvider;
        fetch('/find/provider/' + idProvider,{
            method: 'GET'
        })
            .then(res=>res.json())
            .then(data=>{
                const modalProvider =document.getElementById("modalProvider");
                modalProvider.innerHTML = `
                <p>Фамилия: <span id="modalDetailsSurname">${data.providerName}</span></p>
                <p>Адрес: <span id="modalDetailsName">${data.providerAddress}</span></p>
                <p>Имейл: <span id="modalDetailsEmail">${data.providerEmail}</span></p>
                <p>Телефон: <span id="modalDetailsTel">${data.providerTel}</span></p>

                `;
            });
    }
    function findChangeProvider(){
        fetch('/find/provider/' + idProviderFind,{
            method: 'GET'
        })
            .then(res=>res.json())
            .then(data=>{
                const fio = document.getElementById("fio");
                const address = document.getElementById("address");
                const phone = document.getElementById("phone");
                const email = document.getElementById("email");
                fio.value = data.providerName;
                address.value = data.providerAddress;
                phone.value = data.providerTel;
                email.value = data.providerEmail;

            });
        document.getElementById("changeProvider").addEventListener("submit", function (event){
            event.preventDefault();
            if (document.getElementById("role").value === '[ADMIN]'){
                fetch('/admin/changeProvider/' + idProviderFind, {
                    method: 'POST',
                    body: new FormData(this)
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === "success") {
                            alert(data.message);
                            window.location.href = '/admin/providers';
                        } else if (data.status === "bad") {
                            for (const x in data) {
                                if (x !== "bad") {
                                    alert(data[x]);
                                }
                            }
                        } else {
                            console.error('Произошла ошибка:', data.message);
                        }
                    })
            }
            else {
                fetch('/user/changeProvider/' + idProviderFind, {
                    method: 'POST',
                    body: new FormData(this)
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === "success") {
                            alert(data.message);
                            window.location.href = '/user/providers';
                        } else if (data.status === "bad") {
                            for (const x in data) {
                                if (x !== "bad") {
                                    alert(data[x]);
                                }
                            }
                        } else {
                            console.error('Произошла ошибка:', data.message);
                        }
                    })
            }
        });
    }
    function deleteProvider(){
            fetch("/admin/deleteProvider/" + idProviderFind, {
                method: 'GET'
            }).then(res=>res.json())
                .then(data=>{
                    if (data.status === "success") {
                        alert(data.message);
                        window.location.href = '/admin/providers';
                    }
                })

    }
</script>
</html>