<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    .info-container {
      float: right;
      width: 300px;
      margin-left: 20px;
      padding: 10px;
      background-color: #f0f0f0;
      border: 1px solid #ccc;
    }
  </style>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="shortcut icon" href="/img/wh.png" type="image/x-icon">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


</head>
<div th:insert="blocks/links::div"></div>
<body style="background-color: #284B52">
<div th:insert="blocks/header :: header"></div>
<div th:insert="blocks/adminSidebare :: adminSidebare"></div>
<main>
  <div class="table-responsive" style="width: 950px; margin-left: 27%; margin-top: -550px">
    <h4 class="mb-3" style="color: #31bfc6">График состояния ассортемента на складе</h4>
    <div class="chart-container">
      <canvas id="newChart" style="background-color: #f2f0f8;width: 100%; max-width: 600px; float: left;"></canvas>

      <div class="info-container">
        <h5>Информация о графике ассортемента на складе</h5>
      </div>
    </div>

  </div>
</main>
</body>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
<script src="/js/generateGraf.js"></script>
</html>