<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #284B52">
<div th:insert="blocks/header::header"></div>
<div th:insert="blocks/adminSidebare::adminSidebare"></div>
<main>
    <div class="table-responsive" style="width: 1000px; margin-top: -600px; margin-left: 300px; ">
        <div th:name="search-sort" style="width: 950px; display: flex; align-items: center;">
            <div th:name="sort" style="width: 475px; display: flex; align-items: center;">
                <button class="btn btn-primary rounded-pill px-3" type="button" style="color: #f2f0f8; background-color: #31bfc6; border-color: #31bfc6">Отсортировать</button>
                <select class="form-select" style="margin-left: 10px; width: 150px">
                    <option value="" selected disabled>По признаку</option>
                    <option value="признак1">Признак 1</option>
                    <option value="признак2">Признак 2</option>
                    <option value="признак3">Признак 3</option>
                </select>
            </div>


            <div th:name="search" style="width: 475px; display: flex; align-items: end;">
                <form role="search">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search" style="background-color: #31bfc6; color: #f2f0f8">
                </form>
                <select class="form-select" style="margin-left: 10px; width: 160px">
                    <option value="" selected disabled>По параметру</option>
                    <option value="признак1">Параметр 1</option>
                    <option value="признак2">Параметр 2</option>
                    <option value="признак3">Параметр 3</option>
                </select>
            </div>
        </div>

        <table class="table table-striped table-sm" style="background-color: aliceblue; margin-top: 20px" >
            <thead>
            <tr>
                <th style="color: #2BB789" scope="col">ID</th>
                <th style="color: #2BB789" scope="col">Фамилия</th>
                <th style="color: #2BB789" scope="col">Имя</th>
                <th style="color: #2BB789" scope="col">Имейл</th>
                <th style="color: #2BB789" scope="col">Телефон</th>
                <th style="color: #2BB789" scope="col">Логин</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${workers}" th:each="e:${workers}">
                <td style="color: #2BB789" th:text="${e.userId}" th:value="${e.userId}"></td>
                <td style="color: #2BB789" th:text="${e.workerSurname}" th:value="${e.workerSurname}"></td>
                <td style="color: #2BB789" th:text="${e.workerName}" th:value="${e.workerName}"></td>
                <td style="color: #2BB789" th:text="${e.workerEmail}" th:value="${e.workerEmail}"></td>
                <td style="color: #2BB789" th:text="${e.workerTel}" th:value="${e.workerTel}"></td>
                <td style="color: #2BB789" th:text="${e.login}" th:value="${e.login}"></td>
                <td>

                        <input type="button" value="Подробнее" style="font-weight: bold; background-color: #238182; border-color: #238182;"  data-toggle="modal" data-target="#modalDetails">

                </td>
            </tr>
            </tbody>
        </table>
        <a href="/admin/newUser" type="button" class="btn btn-outline-primary me-2"
           style="background-color: #238182; border-color: #238182; margin-left: 900px">
            <img src="/img/+.png" style="height: 50px; width: 50px">
        </a>

        <div class="modal fade" id="modalDetails" tabindex="-1" role="dialog" aria-labelledby="modalDetailsLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalDetailsLabel">Подробнее</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Фамилия: <span id="modalDetailsSurname"></span></p>
                        <p>Имя: <span id="modalDetailsName"></span></p>
                        <p>Имейл: <span id="modalDetailsEmail"></span></p>
                        <p>Телефон: <span id="modalDetailsTel"></span></p>
                        <p>Логин: <span id="modalDetailsLogin"></span></p>
                        <p>Пароль: <span id="modalDetailsPassword"></span></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" data-toggle="modal" data-target="#modalRedWorker">Изменить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Удалить</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalRedWorker" tabindex="-1" role="dialog" aria-labelledby="modalAddWorkerLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalAddWorkerLabel">Редактировать работника</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="needs-validation" >
                            <div class="row g-3">
                                <div class="col-sm-6">
                                    <label class="form-label" style="color: aqua">Фамилия</label>
                                    <input type="text" class="form-control" id="surname" placeholder="" value="" required="" >
                                    <div class="invalid-feedback">
                                        Некорректная фамилия
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <label class="form-label" style="color: aqua">Имя</label>
                                    <input type="text" class="form-control" id="name" placeholder="" value="" required="">
                                    <div class="invalid-feedback">
                                        Некорректное имя
                                    </div>
                                </div>

                                <div class="col-12">
                                    <label for="email" class="form-label" style="color: aqua">Email <span class="text-body-secondary"></span></label>
                                    <input type="email" class="form-control" id="email" maxlength="47" minlength="2" required placeholder="you@example.com" >
                                    <div class="invalid-feedback">
                                        Проверьте правильность имейла
                                    </div>
                                </div>

                                <div class="col-12">
                                    <label class="form-label" style="color: aqua">Телефон</label>
                                    <input type="text" class="form-control" id="phone" placeholder="+37544..." required="" >
                                    <div class="invalid-feedback">
                                        Проверьте телефон
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <label class="form-label" style="color: aqua">Логин</label>
                                    <input type="text" class="form-control" id="login" placeholder="" value="" required="" >
                                    <div class="invalid-feedback">
                                        Некорректный логин
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <label class="form-label" style="color: aqua">Пароль</label>
                                    <input type="text" class="form-control" id="password" placeholder="" value="" required="" >
                                    <div class="invalid-feedback">
                                        Некорректный пароль
                                    </div>
                                </div>
                                <div class="my-3">
                                    <div class="form-check">
                                        <input id="active" name="userStatys" value="true" type="radio" class="form-check-input" checked="" required="">
                                        <label class="form-check-label" style="color: aqua">Активен</label>
                                    </div>
                                    <div class="form-check">
                                        <input id="notactive" name="userStatys" value="false" type="radio" class="form-check-input" required="">
                                        <label class="form-check-label" style="color: aqua">Не активен</label>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Сохранить</button>
                    </div>
                </div>
            </div>
    </div>
    </div>
</main>

</body>
</html>