<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="blocks/links::div"></div>
<body style="background-color: #284B52">
<div th:insert="blocks/header :: header"></div>
<div th:insert="blocks/adminSidebare :: adminSidebare"></div>

<main>
  <div class="col-md-7 col-lg-8" style="margin-left: 350px; margin-top: -600px">
    <h4 class="mb-3" style="color: aqua">Добавить в ассортимент</h4>
    <form class="needs-validation" id="formAss" novalidate="" th:object="${assortment}" th:action="*{'/admin/newAssortment'}" method="post">
      <div class="row g-3">
        <div class="col-sm-12">
          <label  class="form-label" style="color: aqua">Название</label>
          <input type="text" class="form-control" id="name" placeholder="" value="" required="" th:field="${assortment.productName}">
          <div class="invalid-feedback">
            Некоректное название
          </div>
        </div>


        <div class="col-sm-12">
          <label  class="form-label" style="color: aqua">Изготовитель</label>
          <input type="text" class="form-control" id="manufacturer" placeholder="" value="" required="" th:field="${assortment.manufacturer}">
          <div class="invalid-feedback">
            Некоректный производитель
          </div>
        </div>

        <div class="col-sm-12">
          <label  class="form-label" style="color: aqua">Тип продукта</label>
          <input type="text" class="form-control" id="prod_type" placeholder="" value="" required="" th:field="${assortment.productType}">
          <div class="invalid-feedback">
            Некоректный тип
          </div>
        </div>

        <div class="col-sm-12">
          <label  class="form-label" style="color: aqua">Форма выпуска</label>
          <select th:field="${assortment.formIn}">
            <option th:each="map : ${formV}" th:value="${map.key}" th:text="${map.value}"></option>
          </select>
          <div class="invalid-feedback">
           Некоректная форма
          </div>
        </div>





        <button class="w-100 btn btn-primary btn-lg" type="submit" style="background-color: aqua; color: #238182">Сохранить</button>
      </div>

    </form>
  </div>

</main>
</body>
<script>
  document.getElementById('formAss').addEventListener('submit', function (event) {
    event.preventDefault();
    fetch('/admin/newAssortment', {
      method: 'POST',
      body: new FormData(this)
    })
            .then(response => response.json())
            .then(data => {
              if (data.status === "success") {
                alert(data.message);
                window.location.href = '/admin/assortment';
              } else if (data.status === "bad") {
                for (const x in data) {
                  if (x !== "bad") {
                    alert(data[x]);
                  }
                }
              } else {
                console.error('Произошла ошибка:', data.message);
              }
            })
  });
</script>
</html>