<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="blocks/links::div"></div>
<body style="background-color: #284B52">
<div th:insert="blocks/header :: header"></div>
<div th:insert="blocks/adminSidebare :: adminSidebare"></div>
<style>
  .input-cell {
    border: 0px;
    padding: 0px;
    margin: 0;

  }
</style>


<main>
  <div class="col-md-7 col-lg-8" style="margin-left: 300px; margin-top: -600px">
    <h4 class="mb-3" style="color: aqua">Новая инвенторизация</h4>
    <form class="needs-validation" novalidate="">
      <div class="row g-3">


        <div class="col-6">
          <label class="form-label" style="color: aqua">Дата инвенторизации</label>
          <input type="date" class="form-control" id="date" placeholder="">
          <div class="invalid-feedback">
            Неверная дата
          </div>
        </div>

        <div id="newAssInvent">
          <div class="col-3">
          <input type="text" class="form-control" id="ass" placeholder="Название">
          </div>
          <table id="myTable" style="width: 800px; margin-left: 25%; margin-top: -30px">
          <thead>
            <tr>
              <th style="color: aqua; " scope="col">ID</th>
              <th style="color: aqua; " scope="col">Дата изготовления</th>
              <th style="color: aqua; " scope="col">Годен до</th>
              <th style="color: aqua; " scope="col">Остаток по программе</th>
              <th style="color: aqua; " scope="col">Действительный остаток</th>
              <th style="color: aqua; " scope="col">Сумма</th>
              <th  style="color: aqua" scope="col">Списать</th>
            </tr>
          </thead>
            <tr>


              <!--                <td  style="color: #2BB789" th:text="${}"/>-->
              <!--                <td  style="color: #2BB789" th:text="${}"/>-->
              <!--                <td  style="color: #2BB789" th:text="${}"/>-->
              <!--                <td  style="color: #2BB789" th:text="${}"/>-->
              <!--                <td  style="color: #2BB789" th:text="${}"/>-->
              <!--                <td  style="color: #2BB789" th:text="${}"/>-->
              <!--                <td><a th:href="@{)}"><input type="button" value="Списать" style="font-weight: bold;"></a></td>-->

            </tr>
          </table>
          <label  style="color: aqua; margin-top: 20px">ИТОГО:</label>
          <table id="itogTable" style="width: 345px; margin-left: 70%; margin-top: -30px">
          <tr>
            <td  style="color: #2BB789" />
            <td  style="color: #2BB789" />
            <td  style="color: #2BB789"/>
          </tr>
          </table>
        </div>

        <button class="w-100 btn btn-primary btn-lg" type="submit" style="background-color: aqua; color: #238182">Сохранить</button>
      </div>

    </form>
  </div>

</main>
</body>
</html>