<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="blocks/links::div"></div>
<body style="background-color: #284B52">
<div  th:if="${role.equals('[ADMIN]')}" th:insert="blocks/header :: header"></div>
<div  th:if="${role.equals('[ADMIN]')}" th:insert="blocks/adminSidebare :: adminSidebare"></div>
<div th:if="${role.equals('[USER]')}" th:insert="blocks/header :: header"></div>
<div th:if="${role.equals('[USER]')}" th:insert="blocks/userSidebare :: userSidebare"></div>
<style>
    .input-cell {
        border: 0px;
        padding: 0px;
        margin: 0;

    }
</style>


<main>
    <div class="col-md-7 col-lg-8" style="margin-left: 300px; margin-top: -600px">
        <h4 class="mb-3" style="color: aqua">Новая инвенторизация</h4>

            <div class="row g-3">
                <div class="col-6">
                    <label class="form-label" style="color: aqua">Дата инвенторизации</label>
                    <input type="date" class="form-control" id="date" placeholder="">
                    <div class="invalid-feedback">
                        Неверная дата
                    </div>
                </div>

                <div id="newAssInvent" >
                    <form th:object="${newIvent}" id="formIvent" th:action="*{'/admin/addNewIvent'}" method="post">
                        <div  th:each="ass, inde:${assortmentList}">
                    <div class="col-3">
                        <span type="text" class="form-control" id="ass" placeholder="Название"
                              th:text="${ass.productName}"/>
                        <input type="hidden" id="count" th:value="${assortmentList.size()}">
                    </div>
                    <table id="myTable" style="width: 800px; margin-left: 25%; margin-top: -30px">
                        <thead>
                        <tr>
                            <th style="color: aqua; " scope="col">ID</th>
                            <th style="color: aqua; " scope="col">Дата изготовления</th>
                            <th style="color: aqua; " scope="col">Годен до</th>
                            <th style="color: aqua; " scope="col">Остаток по программе</th>
                            <th style="color: aqua; " scope="col">Действительный остаток</th>
                            <th style="color: aqua; " scope="col">Сумма</th>
                            <th style="color: aqua" scope="col">Списать</th>
                        </tr>
                        </thead>
                        <tr th:each="p:${ass.products}">
                            <td style="color: #2BB789" th:text="${p.productId}"/>
                            <td style="color: #2BB789" th:text="${p.productStartdata}"/>
                            <td style="color: #2BB789" th:text="${p.productEnddata}"/>
<!--                          <td><a th:href="*{'/assortment/fixIvent/' + p.getProductId()}"><input type="button" value="Списать" style="font-weight: bold;"></a>-->
<!--                          </td>-->
                        </tr>
                    </table>
                    <label style="color: aqua; margin-top: 20px">ИТОГО:</label>
                    <table id="itogTable" style="width: 345px; margin-left: 50%; margin-top: -30px">
                        <tr>
                            <td style="color: #2BB789">
                                <input type="hidden" th:id="${'idAssort' + inde.index}" th:value="${ass.idAssort}">
                                <input type="number" th:id="${'productQuantity' + inde.index}"  th:placeholder="${newIvent.getProductQuantity(ass.products)}" th:value="${newIvent.getProductQuantity(ass.products)}" />
                            </td>
                             <td style="color: #2BB789"><input type="number" th:id="${'factQuantity' + inde.index}" /></td>
                             <td style="color: #2BB789"><input type="number" th:id="${'priseQuantity' + inde.index}" th:placeholder="${newIvent.getPriseQuantity(ass.products)}" th:value="${newIvent.getPriseQuantity(ass.products)}"></td>
                        </tr>
                    </table>
                        </div>
                        <button class="w-100 btn btn-primary btn-lg" type="submit"
                                style="background-color: aqua; margin-top: 100px; color: #238182">Сохранить
                        </button>

                    </form>
                </div>

            </div>

    </div>


</main>
<script>
const form = document.getElementById("formIvent");
form.addEventListener("submit", function (event){
    event.preventDefault();
    const formData = new FormData(form);

    const count = document.getElementById("count").value;
    let list =[];
    for (let i = 0; i < count; i++) {
        const idAssort = document.getElementById("idAssort" + i).value;
        const productQuantity = document.getElementById("productQuantity" + i).value;
        const factQuantity = document.getElementById("factQuantity" + i).value;
        const priseQuantity = document.getElementById("priseQuantity"+i).value;
        const element = {
            idAssort: idAssort,
            productQuantity: productQuantity,
            priseQuantity: priseQuantity,
            factQuantity: factQuantity
        }
        list.push(element);
    }
    send("/admin/listForIvent", 'POST', list).then(data=>{
        form.submit()
    });

});
async function send(url, method, data){
    await fetch(url, {
        method: method,
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    })
        .then(response => response.json())
        .then(data => {
            // Обработка полученных данных
            console.log(data);
        })
        .catch(error => {
            // Обработка ошибок
            console.error('Ошибка:', error);
        });
}

</script>
</body>
</html>