<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="blocks/links::div"></div>
<body style="background-color: #284B52">
<div  th:if="${role.equals('[ADMIN]')}" th:insert="blocks/header :: header"></div>
<div  th:if="${role.equals('[ADMIN]')}" th:insert="blocks/adminSidebare :: adminSidebare"></div>
<div th:if="${role.equals('[USER]')}" th:insert="blocks/header :: header"></div>
<div th:if="${role.equals('[USER]')}" th:insert="blocks/userSidebare :: userSidebare"></div>
<style>
  .input-cell {
    border: 0px;
    padding: 0px;
    margin: 0;

  }
</style>
<main>
  <div class="col-md-7 col-lg-8" style="margin-left: 300px; margin-top: -600px">
    <h4 class="mb-3" style="color: aqua">Новый заказ</h4>
    <form class="needs-validation" id="formOrder" novalidate="" th:object="${orders}" th:action="*{'/user/newOrder'}" method="post">
      <div class="row g-3">
        <div class="col-sm-6">
          <label  class="form-label" style="color: aqua">Выберите клиента</label>
          <select th:if="${clients}" id="client" th:field="${orders.client}">
            <option th:each="cl : ${clients}" th:value="${cl.clientId}" th:text="${cl.clientName}"></option>
          </select>
          <div class="invalid-feedback">
            Неверный клиент
          </div>
        </div>

        <div class="col-6">
          <label class="form-label" style="color: aqua">Дата поставки </label>
          <input type="date" class="form-control" id="date" placeholder="" th:field="${orders.orderDate}">
          <div class="invalid-feedback">
            Неверная дата
          </div>
        </div>
        <div class="col-6">
          <label class="form-label" style="color: aqua">Статус поставки </label>
          <select th:if="${status}" class="form-control" id="status" th:field="${orders.orderStatus}">
            <option th:each="s : ${status}" th:value="${s.key}" th:text="${s.value}"></option>
          </select>
          <div class="invalid-feedback">
            Неверная дата
          </div>
        </div>
        <div>

          <table id="myTable" style="width: 1000px; ">
            <thead>
            <tr>
              <th style="color: aqua; " scope="col">Товар</th>
              <th style="color: aqua; " scope="col">Стоимость за еденицу</th>
              <th style="color: aqua; " scope="col">Количество</th>
            </tr>
            </thead>
<!--            Тут всё условно пока, бо я хз как вывести в табличку всю инфу по товаррам-->
            <!--           <tbody>-->
            <!--            <tr th:each="e:${clients}">-->
            <!--                <td  style="color: #2BB789" th:text="${e.id}"/>-->
            <!--                <td  style="color: #2BB789" th:text="${e.fio}"/>-->
            <!--                <td  style="color: #2BB789" th:text="${e.adress}"/>-->
            <!--                <td  style="color: #2BB789" th:text="${e.email}"/>-->
            <!--                <td  style="color: #2BB789" th:text="${e.phone}"/>-->
            <!--                <td><a th:href="@{/admin/clients/{id}(id=${e.id})}"><input type="button" value="Подробнее" style="font-weight: bold;"></a></td>-->
            <!--            </tr>-->
            <!--            </tbody>-->

          </table>
          <a href="#" type="button" class="btn btn-outline-primary me-2" style="background-color: #238182; border-color: #238182; margin-left: 900px; margin-top: -50px; width: 70px" onclick="addRow()"><img src="/img/+.png" style="height: 50px; width: 50px"></a>
        </div>

        <button class="w-100 btn btn-primary btn-lg" id="SendBtn" type="submit"  style="background-color: aqua; color: #238182">Сохранить</button>
      </div>

    </form>
  </div>
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script  th:src="@{/js/main.js}" >
</script>
</body>
</html>