<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="blocks/links::div"></div>
<body style="background-color: #284B52">
<div  th:if="${role.equals('[ADMIN]')}" th:insert="blocks/header :: header"></div>
<div  th:if="${role.equals('[ADMIN]')}" th:insert="blocks/adminSidebare :: adminSidebare"></div>
<div th:if="${role.equals('[USER]')}" th:insert="blocks/header :: header"></div>
<div th:if="${role.equals('[USER]')}" th:insert="blocks/userSidebare :: userSidebare"></div>
<style>
  .input-cell {
    border: none;
    padding: 0;
    margin: 0;
  }
</style>
<main>
  <div class="col-md-7 col-lg-8" style="margin-left: 300px; margin-top: -600px">
    <h4 class="mb-3" style="color: aqua">Новая поставка</h4>
    <form class="needs-validation" id="myForm" th:object="${supply}" th:action="*{'/user/newSupply'}" method="post" >
      <div class="row g-3">
        <div class="col-sm-6">
          <label  class="form-label" style="color: aqua">Выберите поставщика</label>
          <select  th:if="${provider}" th:field="${supply.id}">
            <option th:each="p:${provider}" th:value="${p.providerId}" th:text="${p.providerName}"/>
          </select>
          <div class="invalid-feedback">
          Неверный поставщик
          </div>
        </div>

        <div class="col-6">
          <label class="form-label" style="color: aqua" >Дата поставки </label>
          <input type="date" class="form-control" id="date" placeholder="" th:field="${supply.supplyDate}">
          <div class="invalid-feedback">
            Неверная дата
          </div>
        </div>

        <a href="#" type="button" class="btn btn-outline-primary me-2" style="background-color: #238182; border-color: #238182; margin-left: 900px; margin-top: -50px; width: 70px" onclick="addRow()"><img src="/img/+.png" style="height: 50px; width: 50px"></a>
<div>

  <table id="myTable" style="width: 1000px; ">
    <tr>
      <th style="color: aqua; " scope="col">Товар</th>
      <th style="color: aqua; " scope="col">Дата изготовления</th>
      <th style="color: aqua; " scope="col">Срок годности</th>
      <th style="color: aqua; " scope="col">Стоимость за еденицу</th>
      <th style="color: aqua; " scope="col">Количество</th>
    </tr>
    <tr>

    </tr>
  </table>

  </div>
        <button class="w-100 btn btn-primary btn-lg" type="submit"  style="background-color: aqua; color: #238182">Сохранить</button>
      </div>

    </form>
  </div>

</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/main2.js">

</script>
</body>
</html>