<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="blocks/links::div"></div>
<body style="background-color: #284B52">
<div th:insert="blocks/header :: header"></div>
<div th:insert="blocks/adminSidebare :: adminSidebare"></div>

<main>
    <div class="col-md-7 col-lg-8" style="margin-left: 350px; margin-top: -600px">
        <h4 class="mb-3" style="color: aqua">Добавить нового работника</h4>
        <form class="needs-validation" id="formUser" th:action="@{'/admin/newUser'}" method="post" th:object="${user}">
            <div class="row g-3">
                <div class="col-sm-6">
                    <label class="form-label" style="color: aqua">Фамилия</label>
                    <input type="text" class="form-control" id="workerSurname" placeholder="" value="" required=""
                           th:field="${user.workerSurname}">
                    <div class="invalid-feedback">
                        Некорректная фамилия
                    </div>
                </div>

                <div class="col-sm-6">
                    <label class="form-label" style="color: aqua">Имя</label>
                    <input type="text" class="form-control" name="workerName" placeholder="" value="" required=""
                           th:field="${user.workerName}">
                    <div class="invalid-feedback">
                        Некорректное имя
                    </div>
                </div>

                <div class="col-12">
                    <label  class="form-label" style="color: aqua">Email <span
                            class="text-body-secondary"></span></label>
                    <input type="email" class="form-control" name="workerEmail" maxlength="47" minlength="2" required
                           placeholder="you@example.com" th:field="${user.workerEmail}">
                    <div class="invalid-feedback">
                        Проверьте правильность имейла
                    </div>
                </div>

                <div class="col-12">
                    <label class="form-label" style="color: aqua">Телефон</label>
                    <input type="text" class="form-control" name="workerTel" placeholder="+37544..." required=""
                           th:field="${user.workerTel}">
                    <div class="invalid-feedback">
                        Проверьте телефон
                    </div>
                </div>

                <div class="col-sm-6">
                    <label class="form-label" style="color: aqua">Логин</label>
                    <input type="text" class="form-control" name="login" placeholder="" value="" required=""
                           th:field="${user.login}">
                    <div class="invalid-feedback">
                        Некорректный логин
                    </div>
                </div>

                <div class="col-sm-6">
                    <label class="form-label" style="color: aqua">Пароль</label>
                    <input type="text" class="form-control" name="userPassward" placeholder="" value="" required=""
                           th:field="${user.userPassward}">
                    <div class="invalid-feedback">
                        Некорректный пароль
                    </div>
                </div>
                <div class="my-3">
                    <div class="form-check">
                        <input id="active" name="userStatys" value="true" type="radio" class="form-check-input"
                               checked="" required="">
                        <label class="form-check-label" style="color: aqua">Активен</label>
                    </div>
                    <div class="form-check">
                        <input id="notactive" name="userStatys" value="false" type="radio" class="form-check-input"
                               required="">
                        <label class="form-check-label" style="color: aqua">Не активен</label>
                    </div>
                </div>
                <button id="save" class="w-100 btn btn-primary btn-lg" style="background-color: aqua; color: #238182">
                    Сохранить
                </button>
            </div>
        </form>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    document.getElementById('formUser').addEventListener('submit', function (event) {
        event.preventDefault();
        fetch('/admin/newUser', {
            method: 'POST',
            body: new FormData(this)
        })
            .then(response => response.json())
            .then(data => {
                if (data.status === "success") {
                    alert(data.message);
                    window.location.href = '/admin/users';
                } else if (data.status === "bad") {
                    for (const x in data) {
                        if (x !== "bad") {
                            alert(data[x]);
                        }
                    }
                } else {
                    console.error('Произошла ошибка:', data.message);
                }
            })
    });
</script>
</body>
</html>