<style>
  a {
    color: aqua !important;
  }

</style>
<div th:fragment="adminSidebare" class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px; height: 679px; background-color: #238182; margin-top: -100px">
  <a href="/admin" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none" style="color: aqua !important;">
    <svg class="bi pe-none me-2" width="40" height="10"><use xlink:href="#bootstrap"></use></svg>
    <h4>Панель админа</h4>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="/admin/users" class="nav-link " aria-current="page" style="color: aqua !important;">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
        <img src="/img/iconuser.png" style="height: 20px; width: 20px">
        Работники
      </a>
    </li>
    <li>
      <a href="/admin/clients" class="nav-link" style="color: aqua !important;">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
        <img src="/img/clients.png" style="height: 20px; width: 20px">
        Клиенты
      </a>
    </li>
    <li>
      <a href="/admin/providers" class="nav-link" style="color: aqua !important;">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
        <img src="/img/providers.png" style="height: 20px; width: 20px">
        Поставщики
      </a>
    </li>
    <li>
    <a href="/admin/assortment" class="nav-link" style="color: aqua !important;">
      <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
      <img src="/img/ass.png" style="height: 20px; width: 20px">
      Ассортимент
    </a>
    </li>
    <li>
      <a href="/admin/products" class="nav-link" style="color: aqua !important;">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
        <img src="/img/products.png" style="height: 20px; width: 20px">
        Товары
      </a>
    </li>
<!--    <li>-->
<!--      <a href="/admin/orders" class="nav-link" style="color: aqua !important;">-->
<!--        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>-->
<!--        <img src="/img/orders.png" style="height: 20px; width: 20px">-->
<!--        Заказы-->
<!--      </a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a href="/admin/supplies" class="nav-link" style="color: aqua !important;">-->
<!--        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>-->
<!--        <img src="/img/supplies.png" style="height: 20px; width: 20px">-->
<!--        Поставки-->
<!--      </a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a href="/admin/invent" class="nav-link" style="color: aqua !important;">-->
<!--        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>-->
<!--        <img src="/img/internalisation.png" style="height: 20px; width: 20px">-->
<!--        Инвентаризация-->
<!--      </a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a href="/admin/returns" class="nav-link" style="color: aqua !important;">-->
<!--        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>-->
<!--        <img src="/img/vozvr.png" style="height: 20px; width: 20px">-->
<!--        Возвраты-->
<!--      </a>-->
<!--    </li>-->
    <li>
      <a href="/admin/analit" class="nav-link" style="color: aqua !important;">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        <img src="/img/analit.png" style="height: 20px; width: 20px">
        Аналитика
      </a>
    </li>
    <li>
      <a href="/admin/otch" class="nav-link" style="color: aqua !important;">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        <img src="/img/analit.png" style="height: 20px; width: 20px">
        Генерация отчётов
      </a>
    </li>
  </ul>
  <hr>

</div>
