

<div class="container">
    <header style="background-color: #238182; color: aqua;" class="d-flex flex-wrap align-items-left justify-content-left justify-content-md-between py-3 mb-4 border-bottom">



        <h3 style="margin-left: 500px"><img src="/img/wh.png" style="height: 55px; width: 55px; margin-top: -20px">
            Управление складом</h3>


        <div class="col-md-3 text-end" >
            <button type="button" class="btn btn-outline-primary me-2" style="background-color: aqua; color: #238182; border-color: aqua;">Выйти</button>

        </div>
    </header>
</div>