<div class="container" >
    <header style="background-color: #238182; color: aqua;" class="d-flex flex-wrap align-items-left justify-content-left justify-content-md-between py-3 mb-4 ">
        <link rel="shortcut icon" th:href="@{/img/16.ico}" href="../../static/img/16.ico" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<div style="margin-top: -30px;">
    <div style="margin-top: 20px">
        <h3 style="margin-left: 500px"><img src="/img/wh.png" style="height: 55px; width: 55px; ">
            Управление складом</h3>
    </div>
</div>
        <div class="col-md-3 text-end" >
            <a  href="/" type="button" class="btn btn-outline-primary me-2" style="background-color: aqua; color: #238182; border-color: aqua;">Выйти</a>

        </div>
    </header>
</div>